.git
.idea
.DS_Store

.mypy_cache
.ruff_cache
.pytest_cache
__pycache__

.venv
venv/
env/

/tests

.gitignore
.pre-commit-config.yaml
README.md

uv.lock
pyproject.toml
.DS_Store
Thumbs.db

Dockerfile
.dockerignore